
	
body {
    color:#0A0909;
    font-family: 'Roboto', sans-serif;
    width: 100%;
	background-image:url(background.jpg);
		
	
}

p{
	background-color:#FCFCFC;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	align-content:center;
	padding-left: 30px;
	padding-right: 30px;
	
	
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: normal;
    margin: 10px;
	background-color:#FFFFFF
}
.contentContainer p {
    text-align: justify;
}
.contentContainer, .codeContainer {
    height: 100%;
}
.contentContainer > div, .codeContainer > div {
    display: none;
    margin: 0 3%;
    height: 100%;
    vertical-align: top;
}

.codeContainer pre {
    white-space: pre;
    word-wrap: normal;
    margin: 0;
    height: calc(100% - 30px);
}

.codeContainer code {
    overflow: auto;
    height: calc(100% - 1em);
}
.nav {
    width: 200px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
	margin-left: 50px;
	padding-left:50px;
}
.contentHead {
    height: 30px;
	width: 800px;
} 
.contentContainer div.content {
    overflow: auto;
    height: calc(100% - 50px);
	width:800px;
}
.codeContainer > pre {
    overflow: auto;
    height: calc(100% - 30px);
}
.head  {
    height: 100px;
    width: 100%;
}
.row {
    position:  absolute;
	padding-left:10px;
	padding-top:50px;
}
.body {
    top: 100px;
    bottom: 60px;
    width: 100%
}


/* Search Example */
#ResultsDisplay {
    width:  100%;
    display: none;
}
            
#ResultsPaging {
    display: none;
}

#PerformSearch {
    margin-bottom: 3px;
}

.nav-button {
    margin-top: 3px;
}

/* Simple Example */
.simple-template-container, .simple-template-container-single {
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    margin:  10px;
}
            
.simple-template-container img {
    display: inline-block;
}
            
.simple-template-container .post-container {
    display: inline-block;
    width: 240px;
    margin-left: 10px;
    vertical-align: top;
}
            
.script-template-container {
    width: 140px;
    border: 1px dashed #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.button {
	padding-left:565px;
	}
	
.background{
	background-image:url(background.jpg);
	
	
	}
	
	.image{
		background-color:#FDFDFD;
		align-content:center;
	}
	
	#images{
		float:right;
		 position: absolute;
    right: 0px;
    width: 300px;